.corner-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: #FFF;
    border-radius: 69px;
    margin-bottom: 25px;
    margin-right: 25px;
    padding-block: 2rem;
    padding-inline: 3rem;
}